/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

.jp-al-NotebookGridDoc > div {
  height: 100%;
}

.jp-al-Spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background: var(--jp-layout-color1);
}

.jp-al-SpinnerContent {
  border: solid #f376269e;
  margin: 50px auto;
  text-indent: -9999em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  position: relative;
  animation: load3 1s infinite linear, fadeIn 1s;
}

.jp-al-SpinnerContent:before {
  width: 50%;
  height: 50%;
  background: #f3762605;
  border-radius: 100% 0 100% 0;
  box-shadow: inset 6px 5px 0 1px #f37626;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.jp-al-SpinnerContent:after {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.jp-al-app-icon text {
  fill: var(--jp-inverse-layout-color2);
}

.jp-App-Launcher-gridhost {
  background-image: unset !important;
  background-position: unset !important;
  background: var(--jp-layout-color2);
}

.grid-stack-item-content {
  color: var(--jp-content-font-color1);
  background-color: var(--jp-layout-color1);
}

.grid-stack .grid-stack-item .grid-stack-item-content {
  padding: 4px;
  overflow: auto;
  border-radius: 5px;
}

.grid-item-toolbar-spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.grid-item-widget .jp-OutputArea {
  overflow: visible;
}

.grid-item-widget .jp-OutputArea-output {
  overflow: visible;
}

.grid-item-widget .jupyter-widgets {
  overflow: visible;
}
