name: Lite Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install the dependencies
        run: |
          python -m pip install -U pip setuptools jupyterlab~=3.3 jupyterlite "ipywidgets==7.7.2" ipyleaflet ipyflex plotly cosapp "ipyvuetify==1.8.2" "ipyvue==1.7.0" pandas
          python -m pip install .
      - name: Build the JupyterLite site
        run: |
          mkdir -p ./lite/files/
          cp ./samples/data.json ./lite/files/
          cp ./samples/ticker2.json ./lite/files/
          cp ./samples/beam.json ./lite/files/
          jupyter app_launcher build ./binder/jupyter_app_launcher/ ./lite
          cd lite
          jupyter lite build
      - name: Upload (dist)
        uses: actions/upload-artifact@v2
        with:
          name: jupyter-app-launcher-demo-dist-${{ github.run_number }}
          path: ./lite/_output

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - uses: actions/download-artifact@v2
        with:
          name: jupyter-app-launcher-demo-dist-${{ github.run_number }}
          path: ./dist
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: dist
